body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.grid-container {
  display: grid;
  grid-template-areas: 
    'header     header     header  header      header'
    'above-left above-left top     above-right above-right'
    'left-bar   left       center  right       right-bar'
    'left-bar   left       bottom  right       right-bar'
    'footer     footer     footer  footer      footer'
  ;
  grid-template-columns: min-content min-content minmax(100px, 1fr) min-content min-content;
  grid-template-rows:    min-content min-content minmax(100px, 1fr) min-content min-content;
  height: 100vh;

  background: var(--es-theme-surface, green);
  color: var(--es-theme-text-secondary-on-background, orange);
}

.pop-out-container {
  background: var(--es-theme-surface, green);
  color: var(--es-theme-text-secondary-on-background, orange);
  height: 100vw;
}

.drag {
  display: none;
  z-index: 1;
}

.drag-for-left {
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 4px;
  cursor: ew-resize;
}

.drag-for-right {
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 4px;
  cursor: ew-resize;
}
.drag-for-left:hover, .drag-for-right:hover {
  background: blue;
  z-index: 1;
}

.drag-for-top {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 4px;
  cursor: ns-resize;
}
.drag-for-bottom {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 4px;
  cursor: ns-resize
}
.drag-for-top:hover, .drag-for-bottom:hover {
  background: blue;
  z-index: 1;
}

.header {
  grid-area: header;
  color: white;
  background-color: green;
}

.footer {
  grid-area: footer;
  color: white;
  background-color: green;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

.center {
  grid-area: center;
  background-color: rgba(0,0,0,.3)
}

.left-bar {
  grid-area: left-bar;
}

.right-bar {
  grid-area: right-bar;
}

.above-left {
  grid-area: above-left;
}

.above-right {
  grid-area: above-right;
}

.top {
  grid-area: top;
}

.bottom {
  grid-area: bottom;
}

.grid-panel {
  display: none;
  position: relative;
  overflow: auto;
}

.shadow-div {
  position: relative;
  flex: 1 1 auto;
}
