body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.grid-container {
  display: grid;
  grid-template-areas: 
    'header     header     header     header     header'      /* 1 */
    'top-bar    top-bar    top-bar    top-bar    top-bar'     /* 2 */
    'left-bar   above-left top        right      right-bar'   /* 3 */
    'left-bar   above-left center     right      right-bar'   /* 4 */
    'left-bar   left       center     right      right-bar'   /* 5 */
    'left-bar   left       bottom     right      right-bar'   /* 6 */
    'bottom-bar bottom-bar bottom-bar bottom-bar bottom-bar'  /* 7 */
    'footer     footer     footer     footer     footer'      /* 8 */
  ;
  grid-template-columns: min-content min-content minmax(100px, 1fr) min-content min-content;
  grid-template-rows:    min-content min-content min-content min-content minmax(100px, 1fr) min-content min-content min-content;
  height: 100vh;

  background: var(--es-theme-surface, green);
  color: var(--es-theme-text-secondary-on-background, orange);
}

.grid-panel.grid-maximized {
  grid-column: left / right;
  grid-row: top / bottom;
  z-index: 2; /* above drag handle */
}

.grid-panel.bottom.grid-expanded {
  grid-column: center / center;
  grid-row: top / bottom;
  z-index: 2; /* above drag handle */
  height: initial;
}

.pop-out-container {
  background: var(--es-theme-surface, green);
  color: var(--es-theme-text-secondary-on-background, orange);
  height: 100%;
}

.drag {
  display: none;
  z-index: 1; /* drag handle */
}

.drag-for-left {
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 4px;
  cursor: ew-resize;
}

.drag-for-right {
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 4px;
  cursor: ew-resize;
}
.drag-for-left:hover, .drag-for-right:hover, .drag-for-top:hover, .drag-for-bottom:hover {
  background: rgb(25 112 179);
}

.drag-for-top {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 4px;
  cursor: ns-resize;
}
.drag-for-bottom {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 4px;
  cursor: ns-resize
}

.portal {
  grid-column: 3 / 4;
  grid-row: 4 / 6;
  z-index: 3; /* portal */
  pointer-events: none;
}
.portal-wide {
  grid-column: 1 / 6;
  grid-row: 4 / 6;
  z-index: 3; /* portal */
  pointer-events: none;
}

.header {
  grid-area: header;
  color: white;
  background-color: green;
}

.footer {
  grid-area: footer;
  color: white;
  background-color: green;
}

.left {
  grid-area: left;
  background:rgb(255, 255, 255, 0.03);
  width: var(--size, initial);
}
.left .shadow-div {
  margin-right: 2px;
  margin-top: 2px;
}

.right {
  grid-area: right;
  background:rgb(255, 255, 255, 0.03);
  width: var(--size, initial);
}
.right .shadow-div {
  margin-left: 2px;
  margin-top: 2px;
}

.center {
  grid-area: center;
}
/* .center .shadow-div {
  margin: 2px;
} */

.left-bar {
  grid-area: left-bar;
  margin-right: 2px;
}
.left-bar .shadow-div {
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.right-bar {
  grid-area: right-bar;
  margin-left: 2px;
}
.right-bar .shadow-div {
  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.above-left {
  grid-area: above-left;
}
.above-left .shadow-div {
  margin-top: 2px;
  margin-right: 2px;
}

.above-right {
  grid-area: above-right;
}
.above-right .shadow-div {
  margin-top: 2px;
  margin-left: 2px;
}

.top-bar {
  grid-area: top-bar;
}
.top-bar .shadow-div {
  margin-bottom: 1px;
}

.top {
  grid-area: top;
  height: var(--size, initial);
}
.top .shadow-div {
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

.bottom-bar {
  grid-area: bottom-bar;
}
.bottom-bar .shadow-div {
  margin-top: 12px;
}

.bottom {
  grid-area: bottom;
  padding-top: 28px;
  height: var(--size, initial);
}
.bottom .shadow-div {
  margin-top: 12px;
}

.grid-panel {
  display: none;
  position: relative; /* New coordinate space for any children */
  overflow: auto;
}

.shadow-div {
  position: relative;
  flex: 1 1 auto;
  display: none;
  /* z1 */
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.shadow-portal {
  pointer-events: auto;
}

.shadow-div.active { 
  display: block; 
}

.grid-panel.right.hidden {
  max-width: 4px;
}

.grid-panel.right.hidden > .shadow-div {
  display: none;
}

.grid-panel.left.hidden {
  max-width: 4px;
}

.grid-panel.left.hidden > .shadow-div {
  display: none;
}

.grid-panel.top.hidden {
  max-height: 4px;
}

.grid-panel.top.hidden > .shadow-div {
  display: none;
}

.grid-panel.bottom.hidden {
  max-height: 0px;
  overflow: hidden;
}

.grid-panel.bottom.hidden > .shadow-div {
  display: none;
}

.grid-panel.center.hidden {
  max-height: 4px;
}

.grid-panel.center.hidden > .shadow-div {
  display: none;
}

/* Tab Bar section */

.es-tab-bar {
  position: absolute;
  top: 4px;
  left: 0px;
  right: 0px;
  background: rgba(255, 255, 255, 0.05);
}
.es-tab-bar-button {
  background: transparent;
  border: none;
  color: var(--es-theme-text-secondary-on-background);
  cursor: pointer;
  margin-left: 0px;
  margin-right: 0px;
  padding: 6px;
  fill: var(--es-theme-text-secondary-on-background);
}
.es-tab-bar-button:hover {
  background: rgba(0, 0, 0, 0.2);
}
.es-tab-bar-button.active {
  color: var(--es-theme-text-primary-on-background);
  border-bottom: 2px solid var(--es-theme-text-primary-on-background);
}
.es-tab-bar-button .use-fill {
  fill: var(--es-theme-text-secondary-on-background);
}
.es-tab-bar-button.active .use-fill {
  fill: var(--es-theme-text-primary-on-background);
}

.es-tab-bar-button .use-stroke {
  stroke: var(--es-theme-text-secondary-on-background);
}
.es-tab-bar-button.active .use-stroke {
  stroke: var(--es-theme-text-primary-on-background);
}
