body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ExtensionPanel {
  position: absolute;

  background: grey;
}

.ExtensionPanel-left {
  left: 0px;
  width: 150px;
  top: 50px;
  bottom: 150px;

  border-right: 4px solid black;
}

.ExtensionPanel-right {
  right: 0px;
  width: 150px;
  top: 0px;
  bottom: 0px;

  border-left: 4px solid black;
}

.ExtensionPanel-center {
  left: 150px;
  right: 150px;
  top: 50px;
  bottom: 150px;

  background-color: lightblue;
  border-left: 4px solid black;
}

.ExtensionPanel-body {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  background-color: lightblue;
  border-left: 4px solid black;
}
